.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(77, 86, 93);
    height: 90vh;
}


.right {
    flex: 1;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #979a96;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.9rem;
    text-align: center;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}


.delete-button {
    background-color: red;
    color: white;
}

.update-button {
    background-color: green;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    /* width: 60px;
    height: 20px; */
    margin: center; 
}

